<%- include("header") %>
<body>
    <h1>The amount of <%= amount %> in <%= curr1 %> is <%= rate %> in <%= curr2 %></h1>
    <form action="/" method="post">
        <h3> Do you want to convert more?</h3>
        <button type="submit" name="wish" value="yes">Yes</button>
    </form>
</body>
</html>